<div class="container mt-4">
    <h3 class="mb-4">🛒 Your Cart</h3>
    <table class="table table-bordered align-middle">
        <thead class="table-light">
            <tr>
                <th>Product</th>
                <th class="text-center">Quantity</th>
                <th class="text-end">Price</th>
                <th class="text-end">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</td>
                <td class="text-center">
                    <div class="btn-group" role="group"><button class="btn btn-outline-secondary btn-sm">–</button><span
                            class="px-3 d-flex align-items-center">2</span><button
                            class="btn btn-outline-secondary btn-sm">+</button></div>
                </td>
                <td class="text-end">$109.95</td>
                <td class="text-end">$219.9</td>
            </tr>
            <tr>
                <td>Mens Casual Premium Slim Fit T-Shirts </td>
                <td class="text-center">
                    <div class="btn-group" role="group"><button class="btn btn-outline-secondary btn-sm"
                            disabled="">–</button><span class="px-3 d-flex align-items-center">1</span><button
                            class="btn btn-outline-secondary btn-sm">+</button></div>
                </td>
                <td class="text-end">$22.3</td>
                <td class="text-end">$22.3</td>
            </tr>
            <tr>
                <td>Mens Cotton Jacket</td>
                <td class="text-center">
                    <div class="btn-group" role="group"><button class="btn btn-outline-secondary btn-sm"
                            disabled="">–</button><span class="px-3 d-flex align-items-center">1</span><button
                            class="btn btn-outline-secondary btn-sm">+</button></div>
                </td>
                <td class="text-end">$55.99</td>
                <td class="text-end">$55.99</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between align-items-center mt-3">
        <h5>Total: $298.19</h5>
        <div><a class="btn btn-warning me-4" href="/" data-discover="true">Continue Shopping</a><a
                class="btn btn-primary" href="/address" data-discover="true">Proceed to Address</a></div>
    </div>
</div>